
      {% for publicite in publicites %}
        <div class="slide  {% if loop.first %} active {% endif %} " style="background-image: url('/images/dechets/{{publicite.filename}}')">
            <div class="container">
                <div class="caption">
                    <h1>{{ publicite.Nompublicite }}</h1>
                    {% if publicite.Description %}
                       <p style="padding-rigth:15px; font-family: 'Roboto' ; font-weight: bold;  font-size:16px ">{{ publicite.Description }}</p>
                    {%  endif %} 
                    {% if publicite.Url %}
                       <a href="{{ publicite.Url }}">Voir plus</a>
                    {%  endif %} 
                    
                </div>
            </div>
        </div>
         
      {% endfor %}


      {# {{ asset('/images/dechets/publicite.filename')  | imagine_filter('publicite') }} #}

      {# /images/dechets/{{publicite.filename}} #}