{% extends 'base.html.twig' %}

{% block title  'Nouveau Compte Client' %}
{% block stylesheets %}{% endblock %}

{% block fils %}
<div class="card text-small mx-auto mb-auto mt-5">
	<div class="card-body">
		<div class="card-header">
			<h3 class="h3 mb-3 font-weight-normal card-title">
				Cree un nouveau compte
			</h3>
		</div>
		{{ form_start(registrationForm,{'attr':{'id' : 'form_registeur'}}) }}


		{{ form_row(registrationForm.foo.FisrtName)}}

		{{ form_row(registrationForm.foo.LastName)}}


		{{ form_row(registrationForm.foo.indicateur)}}

		{{ form_row(registrationForm.foo.phone)}}

		{{ form_row(registrationForm.foo.email)}}

		{{ form_row(registrationForm.foo.password,{'attr':{'autocomplete' : true}})}}
		<small id="passwordHelpBlock" class="form-text text-muted">
			Votre mot de passe doit comporter au moins 8 caractères, contenir au moins un chiffres, une lettre en masjucule et minuscule, et peux contenir des symboles.
		</small>
		{{ form_row(registrationForm.foo.confirmepassword,{'attr':{'autocomplete' : true}})}}

		{{ form_row(registrationForm.file)}}


		{% set terms_link %}<a title="{% trans %}Lire les Conditions d'utilisation et la Politique de confidentialité{% endtrans %}" href="#">{% trans %}Conditions d'utilisation et la Politique de confidentialité{% endtrans %}</a>

		{% endset %}
		{% set general_terms_and_conditions %}{{ 'J\'ai lu et j\'accepte les  %general_terms_and_conditions% de l\'entreprise.'|trans({ '%general_terms_and_conditions%': terms_link })|raw }}{% endset %}
			<div>
				{{ form_errors(registrationForm.terms) }}

				{{ form_widget(registrationForm.terms) }}

				<label for="{{ registrationForm.terms.vars.id }}" style="padding-left:18px;">{{ general_terms_and_conditions|raw }}</label>

			</div>

			<button type="submit" class="btn btn-primary card-link">Envoyer</button><br/>

			<div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}" data-size="normal"></div>

			{{ form_end(registrationForm,{'attr':{'id' : 'form_registeur'}}) }}
			<br>
			<a href="{{path('app_login')}}" class="btn btn-secondary card-link">Annuler</a>
		</div>
	</div>


{% endblock %}


{% block javascripts %}
	<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<script>
	const forms = document.querySelectorAll('div.g-recaptcha');
forms.forEach(form => {
const formParentElement = form.parentElement;

formParentElement.addEventListener("submit", e => {
if (grecaptcha.getResponse() === '') {

e.preventDefault();
alert('Veuillez vérifier le recaptcha');

}
}, false)
});
</script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/additional-methods.min.js"></script>
	<script src="{{ asset('scripts/JSFORMPNAC/register-valide.js') }}"></script>
{% endblock %}
