<!DOCTYPE html>
<html lang="fr" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
		http-equiv="X-UA-Compatible" content="ie=edge">
		{# <meta http-equiv="refresh" content="300"> #}
		<title>
			{% block title %}Entreprice Collecte de Dechet!
			{% endblock %}
		</title>
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
		
		{% block stylesheet %}{% endblock %}
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
      
		
		<script src="https://kit.fontawesome.com/9cad0b52f8.js" crossorigin="anonymous"></script>
		
		<style>
			.grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
			}
			.filter {
				display: block;
				position: sticky;
				top: 20px;
			}
			@media screen and (max-width:900px){
			
			  .grid {
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 20px;
			}
			}
	       {% block css %}{% endblock %}

		</style>

		{{ encore_entry_link_tags('app') }}
	</head>


	<body class="d-flex flex-column h-100 ">
		{% block body %}
            
			{% include '_header.html.twig'%}

			 {% block fils %}{% endblock %}

			{{ include ('home/_footer.html.twig') }}
			
		{% endblock %}
		
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		{# script panier valid achat #}
		<script src="{{ asset('scripts/JSFORMPNAC/buttacheternon.js') }}"></script>
		
			

		<script>
				$('.custom-file-input').on('change', function (event) {
				var inputFile = event.currentTarget;
				$(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
				});
		</script>

		<noscript>
		
		non javascript
		
		</noscript>
		
		{# header script #}

		{# <script src="{{ asset('scripts/jquery.min.js') }}"></script>  #}
		<script src=" {{ asset('scripts/jquery.backtotop.js') }}"></script>
		<script src="{{ asset('scripts/jquery.mobilemenu.js') }}"></script>
		

		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>

</html>
